#go {
    background-color: red;
    padding: 1em 3em;
    border-radius: 100px;
    color: white;
    text-decoration: none;
    display: inline-block;
    margin: 10px;
}

body {
  animation-name: example;
  animation-duration: 30s;
  animation-fill-mode: both;
}

@keyframes example {
    0%   {background-color:yellow;}
    10%   {background-color:orangered;}
    25%  {background-color:grey;}
    50%  {background-color: blue;}
    75%   {background-color:blueviolet;}
  100% {background-color: green;}

}